/* Probably could use more work - adapted from user u/ilovemcyoutubers */
/* Change backgound var to match new tab page or system theme */
/* Tabliss should be used as new tab/home page extenstion */

:root {
  --background: #282828;
}

toolbar#TabsToolbar {
	background-color: var(--background);
}

.tabbrowser-tab, .tab-stack, .tab-background, .tab-background-inner{
	background-color: var(--background);
}

 .tabbrowser-tab:not([selected]) .tab-content{
    color: var(--color1) !important;
}

.tabbrowser-tab .tab-content{
    color: var(--color5) !important;
}

.tab-icon-image {
	display: none !important;
}

#forward-button, #back-button {
	display: none !important;
}

#nav-bar {
     -moz-appearance: none !important;
     background-color: var(--background);
     min-height: 0 !important;
     max-height: 0 !important;
     height: 0 !important;
     --moz-transform: scaleY(0) !important;
     transform: scaleY(0) !important;
     transition: all 0.1s ease !important;
 }

 #nav-bar:focus-within
 #titlebar:hover~#nav-bar,
 #nav-bar:hover,
 #nav-bar:focus-within {
     --moz-transform: scale(1) !important;
     transform: scale(1) !important;
     max-height: 36px !important;
     height: 36px !important;
     min-height: 36px !important;
 }

#content-deck{
    position:relative;
    z-index: 0;
}

#statuspanel[type="overLink"] {
  display: none !important;
}

#tracking-protection-icon-container {
display: none;
}

#pageActionButton {
display:none
}

.urlbar-history-dropmarker,
#urlbar:hover > .urlbar-textbox-container > .urlbar-history-dropmarker {
  display: none !important;
}

#star-button {
display:none;
}

#navigator-toolbox::after {
  border-bottom: 0px !important;
}

#navigator-toolbox {
  border: none !important;
}

#titlebar {
  border: none !important;
}

.tab-line {
display : none !important;
}

#nav-bar, #TabsToolbar {
  border: none !important;
}

#urlbar-search-button {
  background-color: none !important;
  background-image: none !important;
  border: none !important;
}

.tabbrowser-tab::before,

.tabbrowser-tab::after {
  display: none !important;
}

.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button { visibility: collapse !important; }

.tabbrowser-tab:not([pinned]):hover .tab-close-button { visibility: visible !important; display: block !important; }

#PanelUI-button {
display: none !important;
}

#titlebar {
    margin-top: -1px !important;
    margin-bottom: none !important;
}
window[sizemode="maximized"] #titlebar {
    margin-top: -1px !important;
    margin-bottom: none !important;
}

:root:-moz-lwtheme {
    --toolbox-border-bottom-color: rgba(0,0,0,.0) !important;
}

#nav-bar {
    box-shadow: none !important;

}
